{:main           "clojurescreeps.core"
 :output-to      "clojurescreeps.js"
 :output-dir     "out"
 :target         :webworker
 ; or webworker
 :optimizations  :advanced
 ;:advanced (not worth it using node)
 :verbose        true
 :compiler-stats true
 :pretty-print   false
 :source-map     false
 ; :externs ["screeps-externs.js"]
 :infer-externs  true}