{:main           "clojurescreeps.core"
 :output-to      "clojurescreeps.js"
 :output-dir     "out"
 :target         :nodejs
 :optimizations  :advanced
 :verbose        true
 :compiler-stats true
 :pretty-print   false
 :source-map     false
; :language-out   :es3
 ; :externs ["screeps-externs.js"]
 :infer-externs  true}